<div id="dbManage" style="">
    <div class="default_db">
        <p style="margin-right: 20px;">You haven't selected any database.. Choose between one of those:</p>

        <div>
            <f-managedb></f-managedb>
        </div>
    </div>
    <div class="default_col">

    </div>
    <div class="content">

    </div>
</div>
<style>
    #dbManage {
        position: absolute;
        width: calc(100% - 320px);
        height: calc(100% - 20px);

        overflow-y: auto;
    }
    #dbManage::-webkit-scrollbar {
        width: 10px;
    }
    #dbManage:hover::-webkit-scrollbar-track {
        background-color: #e4e4e4;
    }

    .default_db {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: 100%;
        width: 100%;
    }

    f-managedb {
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        justify-content: space-between;
        grid-gap: 20px;
    }
    
    @media screen and (max-width: 1200px) {
        #dbManage {
            width: calc(100% - 20px);
            height: calc(100% - 70px);
        }
    }
</style>
<script>
    if (window.location.hash.split(':').length > 1) {
        document.querySelector('#dbManage > .default_db').style.display = 'none';
        document.querySelector('#dbManage > .default_col').style.display = 'none';
        document.querySelector('#dbManage > .content').style.display = 'flex';
    }
    else if (window.location.hash != '') {
        document.querySelector('#dbManage > .default_db').style.display = 'none';
        document.querySelector('#dbManage > .default_col').style.display = 'flex';
        document.querySelector('#dbManage > .content').style.display = 'none';
    }
    else {
        document.querySelector('#dbManage > .default_db').style.display = 'flex';
        document.querySelector('#dbManage > .default_col').style.display = 'none';
        document.querySelector('#dbManage > .content').style.display = 'none';
    }
</script>
