@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

::selection {
    background: #92e98a;
    color: #fff;
}

body {
    position: absolute;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}
.material-symbols-outlined {
    user-select: none;
}

nav#main {
    z-index: 10;
    position: relative;
    background: #92e98a;
    border-bottom: 2px solid #181818;
}
nav#main> div {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 75px;
    max-width: 1600px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}
h1 {
    color: #181818;
}

.menu {
    display: flex;
    align-items: center;
}
.menu div {
    display: flex;
    gap: 35px;
}
.menu span {
    font-size: 40px;
    display: none;
    cursor: pointer;
}
.menu a {
    transition: .3s;
}
.menu a:hover {
    transform: translateY(-3px);
}

a {
    cursor: pointer;
    color: #181818;
}

@media screen and (max-width: 700px) {
    .menu span {
        display: block;
    }
    .menu div {
        width: 100%;
        position: absolute;
        display: none;
        background: #fff;
        top: 75px;
        left: 0px;
        gap: 12px;
        flex-direction: column;
        padding: 20px;
        border-top: 2px solid #181818;
        border-bottom: 2px solid #181818;
    }
    .menu div.active {
        display: flex;
    }
}

main {
    height: calc(100% - 77px);
    width: 100%;
    position: relative;
}

main > nav {
    height: 100%;
    width: 100%;
    max-width: 300px;
    position: absolute;
    border-right: 2px solid #181818;
    padding: 20px;
    background: #fff;
    z-index: 2;
    left: 0px;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
main > nav > div > .material-symbols-outlined {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    display: none;
}
main > nav > div {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
    top: 0px;
    left: 0px;
    padding: 20px;
}
main > nav > div > div:last-child {
    display: flex;
    gap: 5px;
    align-items: center;
}
main > nav > div::-webkit-scrollbar {
    width: 10px;
}
main > nav > div:hover::-webkit-scrollbar-track {
    background-color: #e4e4e4;
}
@media screen and (max-width: 1200px) {
    main > nav {
        padding-right: 70px;
        left: -300px;
    }
    main > nav.active {
        left: 0px;
    }
    main > nav > div > .material-symbols-outlined {
        display: block;
    }
}
summary {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 6px;
    width: 100%;
}
details {
    margin-bottom: 10px;
    cursor: pointer;
}
details > f-navcol span {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 10px;
}
details > div:last-child {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 20px;
}
nav p {
    overflow: hidden;
    text-overflow: ellipsis;
}
details a {
    text-decoration: none;
}

main > div {
    position: absolute;
    min-height: 100%;
    width: 100%;
    padding: 20px;
    padding-top: 70px;
}
main > div > span:first-child {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
}
main > div > span:first-child > span {
    font-size: 35px;
}
@media screen and (min-width: 1201px) {
    main > div {
        padding-top: 20px;
        padding-left: 320px;
    }
}

f-carddb > div {
    display: flex;
    gap: 30px;

}
f-carddb > div > div:first-child {
    width: 150px;
}
f-carddb > div > div:last-child {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
f-carddb > div > div:last-child > div {
    display: flex;
    align-items: center;
    gap: 5px;
}
f-carddb p {
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.default_db > div {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding-right: 20px;
    padding-bottom: 20px;
}
.default_db > div::-webkit-scrollbar {
    width: 10px;
}
.default_db > div:hover::-webkit-scrollbar-track {
    background-color: #e4e4e4;
}

@media screen and (max-width: 670px) {
    f-managedb {
        grid-template-columns: 1fr !important;
    }
    f-managedb > f-carddb > div {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        gap: 0px;
    }
}